<header class="cf">
	<div class="row">
		<div class="pane base2">
			<a href="#" class="logo">ePublish</a>
		</div>
		<a href="#" class="nav-btn"></a>
		<div class="pane base10">
			<ul class="nav">
				<li><a href="#one">WHY EPUBLISH</a></li>
				<li><a href="#two">FEATURES</a></li>
				<li><a href="#three">HOW IT WORKS</a></li>
				<li><a href="#four">CLIENTS</a></li>
				<li><a href="#five">PARTNERS</a></li>
				<li><a href="#six">NEWS</a></li>
				<li><a href="#seven">FIND OUT MORE</a></li>
			</ul>
		</div>
	</div>
</header><!-- end header -->

<div class="actions">
	<a href="#" class="toggle-grid">Toggle grid</a>
</div>