<header class="cf fixed">
	<div class="row">
		<div class="pane base2 tp12 ml12 wrapper-logo">
			<a href="#" class="logo">ePublish</a>
		</div>
		<a href="#" class="nav-btn icon_menu-circle_alt2"></a>
		<div class="pane base10 tp12">
			<div class="nav-bg">
				<ul class="nav">
					<li><a class="nav-link" href="#one">WHY EPUBLISH</a></li>
					<li><a class="nav-link" href="#two">FEATURES</a></li>
					<li><a class="nav-link" href="#three">HOW IT WORKS</a></li>
					<li><a class="nav-link" href="#four">CLIENTS</a></li>
					<li><a class="nav-link" href="#five">PARTNERS</a></li>
					<li><a class="nav-link" href="#six">NEWS</a></li>
					<li><a class="nav-link" href="#seven">FIND OUT MORE</a></li>
				</ul>
			</div>
		</div>
	</div>
</header><!-- end header -->

<div class="actions">
	<a href="#" class="toggle-grid">Toggle grid</a>
</div>