
<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js ie ltie10 ltie9 ltie8 ltie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>        <html class="no-js ie ltie10 ltie9 ltie8 gtie6 gtie5 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>        <html class="no-js ie ltie10 ltie9 gtie7 gtie6 gtie5 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>        <html class="no-js ie ltie10 gtie8 gtie7 gtie6 gtie5 ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body id="recipe">
<div><a href="#skipnav" class="skip">Skip to main content</a></div>

	<div id="wrapper" class="wrapper">

		<!--(bake /templates/structure/header.html)-->

			<div class="main off-area">
			    <a id="skipnav" tabindex="-1"></a>
			    <div class="row relative video-player">
		    		<img src="assets/img/structure/hero.jpg" class="vid-ph" alt="ePublish preview">
		    		<iframe src="//player.vimeo.com/video/110767611?title=0&byline=0&portrait=0&api=1&player_id=vid1" width="100%" height="100%" id="vid1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		    		<div class="wrapper-intro">
			    		<h1>Get More Output From Your Input.</h1>
			    		<p class="intro">ePublish is the first of its kind and allows users to extract content from InDesign documents and repurpose into beautifully designed digital editions.</p>
			    		<a href="#" class="bttn play">Watch Our Video</a>
			    	</div>
			    </div>

			    <div class="row" id="one">
			    	<div class="wrapper-sub-intro bg-orange">
				    	<h3>Why ePublish?</h3>
				    	<p class="sub-intro">Everyone says, you get what you pay for. But what if you actually got more… a lot more? ePublish, the new digital publishing workflow solution exclusive to Rhapsody, gives you more, saving you time and streamlining the entire publishing workflow. </p>
				    </div>
			    </div>

			    <div class="row">
			    	<div class="pane base12">
				    	<p class="large">ePublish is a revolutionary CMS based, digital publishing platform perfectly designed for non-technical production and design staff. Now you can produce dynamic, HTML5 digital apps and responsive mobile websites directly from Adobe InDesign files, and automate the entire publishing process, from design to deployment across multiple devices. Epublish is developed by Rhapsody, the leading cross-media production specialist providing digital and technical solutions for many of the UK’s largest publishers and retailers.</p>
						</div>
			    </div>

			    <div class="row pad-top" id="two">
			    	<div class="pane base12">
			    		<h3 class="with-border">Features and Functionalty</h3>
			    	</div>
			    	<div class="wrapper-features">
				    	<div class="wrapper-feature">
				    		<img src="assets/img/structure/feat1.png" alt="Devices">
				    		<p>One publication, any device, using our fully responsive design framework</p>
				    	</div>
				    	<div class="wrapper-feature">
				    		<img src="assets/img/structure/feat2.png" alt="InDesign">
				    		<p>Speed up your digital publishing workflow with our automated InDesign plugin</p>
				    	</div>
				    	<div class="wrapper-feature">
				    		<img src="assets/img/structure/feat3.png" alt="Staff">
				    		<p>Open up the digital publishing process to non technical staff</p>
				    	</div>
				    	<div class="wrapper-feature">
				    		<img src="assets/img/structure/feat4.png" alt="Platforms">
				    		<p>Create iOS, Android, Windows 8, Adobe DPS apps or mobile optimized websites</p>
				    	</div>
				    	<div class="wrapper-feature">
				    		<img src="assets/img/structure/feat5.png" alt="App containers">
				    		<p>Integrate with a range of 3rd party app containers such as Adobe DPS or PugPig</p>
				    	</div>
				    	<div class="wrapper-feature">
				    		<img src="assets/img/structure/feat6.png" alt="Analytics">
				    		<p>Integrate with a range of familiar analytics packages such as Google Analytics and Omniture</p>
				    	</div>
				    </div>
			    </div>

			    <div class="row pad-top" id="four">
			    	<div class="pane base12">
			    		<h3 class="with-border orange">Our Clients</h3>			    		
				    	<p class="large">As the UK’s leading cross-media production agency we’ve built a reputation for producing strategic future proof solutions, which drive customer engagement and innovation and stand out from the competition.</p>
			    	</div>
			    	<div class="wrapper-clients">
				    	<div class="wrapper-client">
				    		<img src="assets/img/structure/client-argos.png" alt="Argos">
				    	</div>
				    	<div class="wrapper-client">
				    		<img src="assets/img/structure/client-waitrose.png" alt="Waitrose">
				    	</div>
				    	<div class="wrapper-client">
				    		<img src="assets/img/structure/client-time.png" alt="Time Inc UK">
				    	</div>
				    	<div class="wrapper-client">
				    		<img src="assets/img/structure/client-redwood.png" alt="Redwood">
				    	</div>
				    	<div class="wrapper-client">
				    		<img src="assets/img/structure/client-cedar.png" alt="Cedar">
				    	</div>
				    	<div class="wrapper-client">
				    		<img src="assets/img/structure/client-eyetoeye.png" alt="Eye to Eye media">
				    	</div>
				    </div>
			    </div>

			    <div class="row pad-top m-top bg-beige" id="five">
			    	<div class="pane base12">
			    		<h3 class="white">Partners</h3>			    		
				    	<p class="large">At Rhapsody we work with a number of leading software companies. Products which we license range from content management systems through to app container vendors. Please email us if you would like to work us.</p>
			    	</div>
			    	<div class="wrapper-partner">
			    		<img src="assets/img/structure/partner-adobe.png" alt="Adobe">
			    		<p>
			    			<strong>Adobe</strong><br><br>
			    			Adobe Digital Publishing Suite includes everything that you require to create, publish and optimise content-centric mobile apps. Adobe DPS allows you to create bespoke responsive  web apps from  structured HTML.
			    		</p>
			    	</div>
			    	<div class="wrapper-partner">
			    		<img src="assets/img/structure/partner-pugpig.png" alt="Pugpig">
			    		<p>
			    			<strong>Pugpig</strong><br><br>
			    			Pugpig is built specifically for mobile and is the engine behind a number of well known, award winning, magazine apps, including Porter, Grazia, Stylist, The Week, Auto Express, Evo, The Spectator, Cyclist, Men’s Fitness and Which? to name a few.
			    		</p>
			    	</div>
			    </div>

			    <div class="row pad-top" id="six">
			    	<div class="pane base12">
			    		<h3 class="with-border orange">News and Press</h3>
			    	</div>
			    </div>
			    <div class="row pad-top">
			    	<div class="pane base3 ml6 news-item">
			    		<img src="assets/img/structure/news1.jpg" alt="news item">
			    		<p class="news-date">Mar 10th, 2014</p>
			    		<p class="news-title">Vacant position: Head of Digital Sales</title>
			    		<p class="news-desc">Rhapsody has chosen Publishing & Media Expo, the UK’s key event for the publishing industry, to showcase ePublish, its new automated digital publishing platform. <a href="#" class="news-more">More...</a></p>			    		
			    	</div>
			    	<div class="pane base3 ml6 news-item">
			    		<img src="assets/img/structure/news2.jpg" alt="news item">
			    		<p class="news-date">Jan 28th, 2015 </p>
			    		<p class="news-title">ePublish Digital Publish Solution to launch at P&ME London</title>
			    		<p class="news-desc">Rhapsody has chosen Publishing & Media Expo, the UK’s key event for the publishing industry, to showcase ePublish, its new automated digital publishing platform. <a href="#" class="news-more">More...</a></p>			    		
			    	</div>
			    	<div class="pane base3 ml6 news-item">
			    		<img src="assets/img/structure/news3.jpg" alt="news item">
			    		<p class="news-date">Jan 28th, 2015</p>
			    		<p class="news-title">Rhapsody launches new automated digital publishing platform</title>
			    		<p class="news-desc">Rhapsody, the leading cross-media production agency, has unveiled ePublish, a CMS-based digital publishing platform, for the creation of digital apps and websites. <a href="#" class="news-more">More...</a></p>			    		
			    	</div>
			    	<div class="pane base3 ml6 news-item">
			    		<img src="assets/img/structure/news4.jpg" alt="news item">
			    		<p class="news-date">Mar 10th, 2014</p>
			    		<p class="news-title">Rhapsody ramps up digital expertise</title>
			    		<p class="news-desc">Rhapsody has further expanded its digital capabilities with a number of new senior appointments. <a href="#" class="news-more">More...</a>
			    		</p>			    		
			    	</div>
			    </div>

			    <div class="row pad-top m-top bg-lightorange" id="seven">
			    	<div class="pane base12">
			    		<h3 class="white">Find Out How We Can Help You With A Free Digital Audit</h3>			    		
				    	<p class="large">If you’d like to hear ideas for increasing digital publishing revenue, discover how to save costs and streamline your print and digital workflow, book a complementary digital audit with Rhapsody. Our experts will spend the day with you and provide answers on these issues and more. Afterwards you’ll receive a fully complementary business plan outlining the steps to building a more successful and profitable digital publishing business.</p>
				    	<p class="x-large white center">Simply fill in the form below and we’ll contact you to set up your appointment.</p>
			    	</div>
			    	<form id="contactForm">
				    	<div class="wrapper-contact cf">
				    		<div class="field-row">
					    		<label for="name">Name</label>
					    		<span class="req">Required</span>
					    		<span class="help">This is a required field.</span>
					    		<input type="text" id="name" name="name">
					    		<span class="tick">N</span>
					    		<span class="cross">M</span>
					    	</div>
					    	<div class="field-row">
					    		<label for="jobTitle">Job title</label>
					    		<input type="text" id="jobTitle" name="jobTitle">
					    		<span class="tick">N</span>
					    		<span class="cross">M</span>
					    	</div>
					    	<div class="field-row">
					    		<label for="company">Company</label>
					    		<input type="text" id="company" name="company">
					    		<span class="tick">N</span>
					    		<span class="cross">M</span>
					    	</div>
					    	<div class="field-row">
					    		<label for="email">Email</label>
					    		<span class="help">Please enter a valid email address</span>
					    		<input type="email" id="email" name="email">
					    		<span class="tick">N</span>
					    		<span class="cross">M</span>
					    	</div>
					    	<div class="field-row">
					    		<label for="phone">Phone</label>
					    		<span class="req">Required</span>
					    		<span class="help">This is a required field.</span>
					    		<input type="tel" id="phone" name="phone">
					    		<span class="tick">N</span>
					    		<span class="cross">M</span>
					    	</div>
				    	</div>

				    	<div class="wrapper-contact cf">
				    		<div class="field-row">
					    		<label for="pub">Number of publications</label>
					    		<input type="text" id="pub" name="pub">
					    		<span class="tick">N</span>
					    		<span class="cross">M</span>
					    	</div>
					    	<div class="field-row">
					    		<label for="challenges">Tell us about your challenges</label>
					    		<textarea id="challenges"></textarea>
					    		<span class="tick">N</span>
					    		<span class="cross">M</span>
					    	</div>
				    	</div>

				    	<div class="wrapper-contact cf">
				    		<input type="submit" class="bttn secondary" value="Submit your request">
			    		</div>
		    		</form>
			    </div>

			    <div class="row pad-top">
			    	<div class="pane base12">
			    		<h3 class="with-border orange">Get In Touch</h3>
			    		<p class="large">To discover how simple it is to produce beautifully designed digital apps and mobile websites, contact us today for a demonstration of ePublish.  Just pick up the phone: <a href="tel:+442077291000">+44 (0) 207 729 1000</a>, Email us at <a href="mailto:sales@epublish.digital?subject=ePublish%20demo">sales@epublish.digital</a> Or come and visit us at our studio in Shoreditch, London.</p>
			    	</div>
			    </div>
			    <div class="row">
			    	<div id="map"></div>

			    	<div class="pane base3 ml12 contact-box">
			    		<p><strong>ePublish</strong></p>
				    	<p>
								Rhapsody Media<br>
								109-123 Clifton Street<br>
								London<br>
								EC2A 4LD<br>
							</p>
							
							<p>
								Tel: <a href="tel:+442077291000">+44 (0) 207 729 1000</a><br>
								<a href="mailto:sales@epublish.digital?subject=ePublish%20enquiry">sales@epublish.digital</a>
							</p>
			    	</div>

			    	<div class="pane base3 ml12 contact-box">
			    		<p><strong>Follow Us</strong></p>
			    		<p>
				    		<a href="https://twitter.com/rhapsody_media" target="_blank" class="social">
				    			<span class="social-icon social_twitter"></span>
				    			<span>Twitter</span>
				    		</a>				    		
				    	</p>
				    	<p>
				    		<a href="https://www.facebook.com/RhapsodyMedia" target="_blank" class="social">
				    			<span class="social-icon social_facebook"></span>
				    			<span>Facebook</span>
				    		</a>
				    	</p>
			    	</div>
			    </div>

			    <footer>
			    	<p>Copyright &copy; 2015 Rhapsody Media. All rights reserved.</p>
		    	</footer>
			</div><!-- .main -->			
	</div><!-- .wrapper -->

	<!--(bake /templates/structure/footer.html)-->

	<script type="text/javascript">
		'use strict';

		$(window).load(function() {

			var header = $("header"),
					$window = $(window),
					btnPlay = $('.play'),
					poster = $('.vid-ph'),
					iframe = $('#vid1')[0],
        	vid = $f(iframe),
        	vidPlaying = false,			

					playVid = function (e) {
						$(iframe).addClass('fade-in');
						vid.api('play');
						e.preventDefault();
					},

					handleScrollFn = function () {
						if ($window.scrollTop() > 147) {
					    header.addClass("fixed");
					  } else {
					    header.removeClass("fixed");
					  };

					  // if ($window.scrollTop() > 580 && vidPlaying) {
					  // 	vid.api('pause');
					  // }
					},

					initMap = function () {
            // Basic options for a simple Google Map
            // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
            var mapOptions = {
                // How zoomed in you want the map to start at (always required)
                zoom: 17,
                panControl: false,
                mapTypeControl: false,
                zoomControl: false,
                scrollwheel: false,

                // The latitude and longitude to center the map (always required)
                center: new google.maps.LatLng(51.5236779, -0.0833322), // Rhapsody

                // How you would like to style the map. 
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
            };

            // Get the HTML DOM element that will contain your map 
            // We are using a div with id="map" seen below in the <body>
            var mapElement = document.getElementById('map');

            // Create the Google Map using our element and options defined above
            var map = new google.maps.Map(mapElement, mapOptions);

            // Let's also add a marker while we're at it
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(51.5236779, -0.0833322),
                map: map,
                icon: 'assets/img/structure/map-marker.png',
                title: 'Rhapsody Media'
            });
        	};

        	vid.addEvent('ready', function() {
		        vid.addEvent('pause', function () { vidPlaying = false;});
		        vid.addEvent('finish', function () { vidPlaying = false;});
		        vid.addEvent('playProgress', function () { vidPlaying = true;});
			    });

        initMap();
        $window.on("scroll", handleScrollFn);
        handleScrollFn();
        $('.play').on('click', playVid);
        
        $("#contactForm").validate({
        	focusInvalid: true,
				  rules: {
				  	name: {
				  		required: true
				  	},
				  	jobTitle: {
				  		required: {
				    		depends: function(element) {
				          return $(element).val().length > 0;
				        }
				    	}
				  	},
				  	company: {
				  		required: {
				    		depends: function(element) {
				          return $(element).val().length > 0;
				        }
				    	}
				  	},
				  	email: {
				    	required: {
				    		depends: function(element) {
				          return $(element).val().length > 0;
				        }
				    	},
				      email: true
				    },
				  	phone: {
				  		required: true
				  	},
				  	pub: {
				  		required: {
				    		depends: function(element) {
				          return $(element).val().length > 0;
				        }
				    	}
				  	}
				  },
				  errorPlacement: function(error, element) {
				      $(element).parent().removeClass('valid').addClass('invalid');
			    },
			    success: function(label, element) {
				    $(element).parent().removeClass('invalid').addClass('valid');
				  }
				});
		});
	</script>
	
  </body>
</html>